In [5]:
# Dependencies
import requests
import time
from dotenv import load_dotenv
import os
import pandas as pd
import json

In [6]:
# Set environment variables from the .env in the local environment
load_dotenv()
nyt_api_key = os.getenv("NYT_API_KEY")
tmdb_api_key = os.getenv("TMDB_API_KEY")

NYT API Key: WVrACFRVauWbAAjfVtJwLi7nG7H61ssI
TMDB API Key: cf6d53ab2ce1b9de289040e8955e8e8c

## First dataset

In [9]:
kaggle_data_2020 = pd.read_csv("Resources/AB_US_2020.csv")
kaggle_data_2023 = pd.read_csv("Resources/AB_US_2023.csv")

C:\Users\skilu\AppData\Local\Temp\ipykernel_5816\776098451.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  kaggle_data_2020 = pd.read_csv("Resources/AB_US_2020.csv")
C:\Users\skilu\AppData\Local\Temp\ipykernel_5816\776098451.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  kaggle_data_2023 = pd.read_csv("Resources/AB_US_2023.csv")

In [12]:
# merge the two datasets
kaggle_data_all = pd.concat([kaggle_data_2020, kaggle_data_2023])
kaggle_data_all.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city,number_of_reviews_ltm
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0,Asheville,NaN
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59779,-82.55540,Entire home/apt,470,1,114,07/09/20,1.03,11,288,Asheville,NaN
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville,NaN
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57864,-82.59578,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville,NaN
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.61442,-82.54127,Private room,125,30,58,19/10/15,0.52,1,0,Asheville,NaN

## Second Dataset

In [22]:
# Set the base URL
url = "https://api.nytimes.com/svc/search/v2/articlesearch.json?"

# Filter for city reviews with "love" in the headline
# section_name should be "Movies"
# type_of_material should be "Review"
#filter_query = 'section_name:"Travel" AND type_of_material:"Review"'
filter_query = 'section_name:"Travel" OR section_name:"Dining and Wine" OR section_name:"Dining and Wine"'

# Use a sort filter, sort by newest
sort = "newest"

# Search for reviews published between a begin and end date
begin_date = "20100101"
end_date = "20231231"

# Select the following fields to return:
# headline, web_url, snippet, source, keywords, pub_date, byline, word_count
field_list = "headline,web_url,snippet,source,keywords,pub_date,byline,word_count"

# Build URL
query_url = f"{url}api-key={nyt_api_key}&fq={filter_query}&sort={sort}&begin_date={begin_date}&end_date={end_date}&fl={field_list}"

print(query_url)

https://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=WVrACFRVauWbAAjfVtJwLi7nG7H61ssI&fq=section_name:"Travel" OR section_name:"Dining and Wine"&sort=newest&begin_date=20100101&end_date=20231231&fl=headline,web_url,snippet,source,keywords,pub_date,byline,word_count

## Third Dataset

In [24]:
api_key = os.getenv("OPEN_WEATHER_API_KEY")

Open Weather API Key: faf03e4b9829136db1409b72601c15b7

In [25]:
# Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"

# Build partial query URL
query_url = f"{url}appid={api_key}&units={units}&q="

In [26]:
# Get weather data
weather_response = requests.get(query_url + "London")
weather_json = weather_response.json()

# Get the temperature from the response
print(f"The weather API responded with: {weather_json}.")

The weather API responded with: {'coord': {'lon': -0.1257, 'lat': 51.5085}, 'weather': [{'id': 501, 'main': 'Rain', 'description': 'moderate rain', 'icon': '10n'}], 'base': 'stations', 'main': {'temp': 7.92, 'feels_like': 3.76, 'temp_min': 5.97, 'temp_max': 8.77, 'pressure': 1007, 'humidity': 79}, 'visibility': 10000, 'wind': {'speed': 8.75, 'deg': 260, 'gust': 13.89}, 'rain': {'1h': 1.15}, 'clouds': {'all': 75}, 'dt': 1713228801, 'sys': {'type': 2, 'id': 2075535, 'country': 'GB', 'sunrise': 1713243701, 'sunset': 1713293899}, 'timezone': 3600, 'id': 2643743, 'name': 'London', 'cod': 200}.

In [ ]:
# List of cities, this is just an example of placeholder
cities = ["Paris", "London", "Oslo", "Beijing"]

# set up lists to hold response info
lat = []
temp = []

# Loop through the list of cities and perform a request for data on each
for city in cities:
    response = requests.get(query_url + city).json()
    lat.append(response['coord']['lat'])
    temp.append(response['main']['temp'])

print(f"The latitude information received is: {lat}")
print(f"The temperature information received is: {temp}")

In [27]:
# create a DataFrame from cities, lat, and temp
weather_dict = {
    "city": cities,
    "lat": lat,
    "temp": temp
}
weather_data = pd.DataFrame(weather_dict)
weather_data

NameError: name 'cities' is not defined